html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
.navbar-custom {
    background-color: #0056b3; /
    border-bottom: 0px solid #004085; /
}


.navbar-custom .navbar-brand {
    color: #ffffff;
    font-weight: 600;
}


.navbar-custom .nav-link {
    color: #e9ecef;
    font-weight: 500;
    padding-left: 0px;
    padding-right: 0px;
    transition: all 0.2s ease;
}


.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-link.active { /* Para a página atual */
    color: #ffffff;
    background-color: #004085; /* Um azul um pouco mais escuro */
    border-radius: 5px;
}


.navbar-custom .nav-link.disabled {
    color: #8cb5de; /* Um azul-cinza claro */
}


.navbar-custom .navbar-toggler-icon {

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.navbar-custom .navbar-toggler {
    border-color: #004085;
}