<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<header th:replace="~{layout :: header}"></header>
<aside th:replace="~{layout :: sidebar}"></aside>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav><ol class="breadcrumb"><li class="breadcrumb-item"><a href="/dashboard">Home</a></li><li class="breadcrumb-item active">Dashboard</li></ol></nav>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-md-4">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Cinemas</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-primary bg-opacity-10 text-primary p-3 fs-3">
                                <i class="bi bi-building"></i>
                            </div>
                            <div class="ps-3">
                                <span class="text-muted small pt-2 ps-1">Gerenciar</span>
                                <div><a th:href="@{/cinema}" class="btn btn-sm btn-link">Ver todos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card info-card revenue-card">
                    <div class="card-body">
                        <h5 class="card-title">Sessões</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-success bg-opacity-10 text-success p-3 fs-3">
                                <i class="bi bi-clock"></i>
                            </div>
                            <div class="ps-3">
                                <span class="text-muted small pt-2 ps-1">Agenda</span>
                                <div><a th:href="@{/sessoes}" class="btn btn-sm btn-link text-success">Ver sessões</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card info-card revenue-card">
                    <div class="card-body">
                        <h5 class="card-title">Gráficos</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-danger bg-opacity-10 text-danger p-3 fs-3">
                                <i class="bi-bar-chart"></i>
                            </div>
                            <div class="ps-3">
                                <span class="text-muted small pt-2 ps-1">Agenda</span>
                                <div><a th:href="@{/relatorios}" class="btn btn-sm btn-link text-danger">Ver gráficos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</main>

<div th:replace="~{layout :: scripts}"></div>
</body>
</html>